<!--<div class="page-wrapper with-navbar">-->
<!-- Navbar (immediate child of the page wrapper) -->
<nav class="navbar bg-success">
    <!-- Navbar content (with toggle sidebar button) -->
    <!--        <div class="navbar-content">-->
    <!--            <button class="btn btn-action" type="button">-->
    <!--                <i class="fa fa-bars" aria-hidden="true"></i>-->
    <!--                <span class="sr-only">Toggle sidebar</span> &lt;!&ndash; sr-only = show only on screen readers &ndash;&gt;-->
    <!--            </button>-->
    <!--        </div>-->
    <!-- Navbar brand -->
    <a href="" class="navbar-brand bg-success">
        <img src="/images/iflogo-branca.png">
        Cobrança
    </a>
    <!-- Navbar text -->
    <span class="navbar-text text-monospace bg-success">0.0.1</span>
    <!-- text-monospace = font-family shifted to monospace -->
    <!-- Navbar nav -->
    <ul class="navbar-nav d-none d-md-flex">
        <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
        <!--            <li class="nav-item active">-->
        <!--                <a href="#" class="nav-link">Docs</a>-->
        <!--            </li>-->
        <!--            <li class="nav-item">-->
        <!--                <a href="#" class="nav-link">Products</a>-->
        <!--            </li>-->
    </ul>
</nav>
<!--</div>-->